* {
    margin: 0;
    padding: 0;
}

/* 모든 태그를 감싸는 div */
#wrap {
    width: 100%;
    height: 100%;
    cursor: default;
}

/* 캘린더를 감싸는 div */
#calendar {
    position: relative;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

/* 캘린더의 머리 부분 */
/* 달력의 년도와 월 숫자 표기, 월 영어 표기를 나타냄 */
#calHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}

#calHeader h1 {
    margin: 0 4%;
    font-size: 5vw;
}

#calHeader h2 {
    margin: 0 5%;
    font-size: 3vw;
}

/* 요일 */
.calDate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid #000;
}

.calDate span {
    border: 1px solid #000;
    border-bottom: none;
}

/* 일을 감싸는 div */
#calBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid #000;
    border-top: none;
}

#calBody span {
    border: 1px solid #000;
}

.dateHead {
    font-size: 1.5rem;
    font-weight: 600;
}

.date {
    font-weight: 600;
    padding: 2% 0 40% 2%;
    text-align: start;
}

.restDate {
    color: gray;
}

/* 월 이동하는 버튼 */
.leftArrow {
    position: absolute;
    top: 11%;
    left: 15%;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    top: 11%;
    right: 15%;
    cursor: pointer;
}





@media all and (max-width:1100px) {
    #calendar {
        width: 90%;
    }

    .leftArrow {
        top: 8%;
    }
    
    .rightArrow {
        top: 8%;
    }

}

@media all and (max-width:900px) {
    .leftArrow {
        top: 6%;
    }
    
    .rightArrow {
        top: 6%;
    }
}

@media all and (max-width:600px) {
    .dateHead {
        font-size: 1rem;
        font-weight: 600;
    }

    .leftArrow {
        top: 5%;
    }
    
    .rightArrow {
        top: 5%;
    }
}